@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@1,6..12,300&family=Roboto+Mono:ital@1&family=Rubik:wght@300&display=swap');
.dialogInList {
  border-bottom: 1px solid rgb(9, 56, 52);
  margin: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
  height: 80px;
  display: block;
}

.dialogInList:hover {
  background-color: rgb(64, 159, 159);
}

.avatar {
  padding: 6px;
  box-sizing: border-box;
}

.alias {
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-family: 'Rubik', sans-serif;
}